/*
 * Date:   2018-06-12
 * Author: RC Maples
 * Description: ThinkTube API AJAX Exercise
 * * * */

/*** We use border-box around these parts ***/

* {
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 5px;
}

body {
	font-family: 'Roboto', 'Calibri', 'Helvetica', sans-serif;
}

header {
	width: 100%;
	height: 92px;
	box-shadow: 0 8px 6px -4px #AAAAAA;
}

header .logo {
	margin-left: 42px;
	height: 82px;
}

.search-section {
	margin-top: 10px;
}

.js-player {
	margin-top: 10px;
}


.js-results-nav ul {
	list-style: none;
	margin-left: -9.5%;
	
}

.js-results-nav li {
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	margin-bottom: 20px;
	height: 114px;
}

.js-results-nav li:hover{
	 border: 1px solid white;
     box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
     cursor: pointer;
	 padding-bottom: 2px;
}

.pagination {
	cursor: pointer;
	background-color: #f44336;
	border: none;
	color: white;
	width: 40%;
	padding: 15px 15px;
	margin: 5px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto';
	border-radius: 5px;
}

.pagination:hover {
	cursor: pointer;
	background-color: #f7584c;
	border: none;
	color: white;
	width: 40%;
	padding: 15px 15px;
	margin: 5px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto';
	border-radius: 5px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}

.pagination:disabled {
	cursor: not-allowed;
	background-color: #d4d4d4;
	border: none;
	color: white;
	width: 40%;
	padding: 15px 15px;
	margin: 5px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto';
	border-radius: 5px;
	box-shadow: none;
}

.js-results-nav img {
	margin-top: 5px;
	height: 102px;
	float:left;
	
}

.js-results-nav p, .js-results-nav p:hover {
	text-align: justify;
}

.js-search {

	padding: 30px;
	display: inline-block;
}

.js-search label {
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
}

.js-search input {
	font-size: 16px;
	height: 30px;
	width: 400px;
	vertical-align: bottom;
	border: 1px solid #DDDDDD;
  	border-radius: 3px;
  	padding: 8px;
}

ul {
	height: 740px;
}


.search-button {
	background-image: url("https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.6_challenge_design_to_code/magnifying-glass.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
	height: 30px;
	width: 37px;
	border: 1px solid #DDDDDD;
  	border-radius: 3px;
  	vertical-align: bottom;
}
