/*
 * Date:   2018-06-12
 * Author: RC Maples
 * Description: ThinkTube API AJAX Exercise
 * * * */

/*** We use border-box around these parts ***/

* {
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 5px;
}

body {
	font-family: 'Roboto', 'Calibri', 'Helvetica', sans-serif;
}

header {
	padding-left: 10px;
	padding-right:10px;
	box-shadow: 0 8px 6px -4px #AAAAAA;
}

header .logo {
	max-width:320px;
	margin-top:15px;
	width:100%;
	
}

.search-section {
	margin-top: 25px;
	margin-bottom:5px;
}

.search-section button {
	color:black;
	width: 65px;
	cursor: pointer;
	background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzIwMCcgd2lkdGg9JzIwMCcgIGZpbGw9IiMwMDAwMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE1LjY5IDE1LjQ4IiB4PSIwcHgiIHk9IjBweCI+PHRpdGxlPlNlYXJjaDwvdGl0bGU+PGcgZGF0YS1uYW1lPSJVSSBFbGVtZW50cyI+PHBhdGggZD0iTTE1LjI4LDEyLjcxLDExLjg1LDkuMjdhNi4yMSw2LjIxLDAsMCwwLC43NS0zLDYuMyw2LjMsMCwxLDAtNi4zLDYuMyw2LjIzLDYuMjMsMCwwLDAsMy4yMy0uOWwzLjM5LDMuMzlhMS4zOSwxLjM5LDAsMCwwLDIsMGwuNC0uNEExLjQsMS40LDAsMCwwLDE1LjI4LDEyLjcxWm0tOS0yLjI1YTQuMTYsNC4xNiwwLDEsMSw0LjE2LTQuMTdBNC4xNiw0LjE2LDAsMCwxLDYuMywxMC40NloiPjwvcGF0aD48L2c+PC9zdmc+");
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: center;
	height: 30px;
	border: 1px solid #DDDDDD;
  	border-radius: 3px;
	vertical-align: bottom;
	margin-left:-5px;
}

.search-section button:hover {
	background-color:#DDDDDD;
	border:1px solid darkgray;
}

.js-search {
	display: inline-block;
}

.js-search label {
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
}

.js-search input {
	font-size: 16px;
	height: 30px;
	width: 250px;
	vertical-align: bottom;
	border: 1px solid #DDDDDD;
  	border-radius: 3px;
  	padding: 8px;
}

.js-player {
	margin-top: 10px;
}

aside {
	
	
}

.js-results-nav ul {
	padding-right: 1.04166666%;
	display:inline-block;
	list-style: none;
	
	
	margin-top: -10px;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0px;
	padding-left: 1.04166666%;
	padding-right: 1.04166666%;
	
}

.js-results-nav li {
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	margin-bottom: 20px;
	height: 114px;
	min-width: 320px;
}

.js-results-nav li:hover{
	 border: 1px solid white;
     box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
     cursor: pointer;
	 padding-bottom: 2px;
}

.pagination {
	cursor: pointer;
	background-color: #f44336;
	border: none;
	color: white;
	width: 40%;
	padding: 15px 15px;
	margin: 5px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto';
	border-radius: 5px;
}

.pagination:hover {
	cursor: pointer;
	background-color: #f7584c;
	border: none;
	color: white;
	width: 40%;
	padding: 15px 15px;
	margin: 5px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto';
	border-radius: 5px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}

.pagination:disabled {
	cursor: not-allowed;
	background-color: #d4d4d4;
	border: none;
	color: white;
	width: 40%;
	padding: 15px 15px;
	margin: 5px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto';
	border-radius: 5px;
	box-shadow: none;
}

.js-results-nav img {
	margin-top: 5px;
	height: 102px;
	float:left;
	
}

.js-results-nav p, .js-results-nav p:hover {
	text-align: justify;
	margin-top: 5px;
}

ul {
	height: 740px;
}